
name: Draw-IO Deploy

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
      environment:
        required: true
        type: string

  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image Tag'
        required: true
        type: string
      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod

jobs:
  set-kube-config:
    runs-on: self-hosted
    steps:
      - id: set-kube-config
        run: |
          if [[ "${{ inputs.environment }}" == "dev" ]]; then
            echo "${{ secrets.DEV_KUBE_CONFIG }}" > ~/.kube/config
          elif [[ "${{ inputs.environment }}" == "qa" ]]; then
            echo "${{ secrets.QA_KUBE_CONFIG }}" > ~/.kube/config
          else
            echo "${{ secrets.PROD_KUBE_CONFIG }}" > ~/.kube/config
          fi
  deploy:
    runs-on: self-hosted
    needs: [set-kube-config]
    steps:
      - run: |
          helm repo list | grep yultra || helm repo add yultra https://nexus.techfinite.com/repository/yultra.ai-helm/ --username="${{ secrets.REGISTRY_USERNAME }}" --password="${{ secrets.REGISTRY_PASSWORD }}"
          helm repo update
          if [[ "${{ inputs.environment }}" == "dev" ]]; then
            helm upgrade yultra-dev -n yultra yultra/yultra --reuse-values --set drawio.image=${{ secrets.DOCKER_REGISTRY }}/next-ai-draw-io:${{ inputs.image_tag }}
          elif [[ "${{ inputs.environment }}" == "qa" ]]; then
            helm upgrade yultra-qa -n yultra-qa yultra/yultra --reuse-values --set drawio.image=${{ secrets.DOCKER_REGISTRY }}/next-ai-draw-io:${{ inputs.image_tag }}
          else
            helm upgrade yultra -n yultra yultra/yultra --reuse-values --set drawio.image=${{ secrets.DOCKER_REGISTRY }}/next-ai-draw-io:${{ inputs.image_tag }}
          fi

  cleanup:
    runs-on: self-hosted
    if: always()
    needs: [deploy]
    steps:
      - name: Cleanup Runner
        run: |
          echo "Running cleanup job..."
          rm ~/.kube/config
          docker system prune -af || true
          docker volume prune -f || true
          docker builder prune -af || true
          docker image prune -af || true
          docker container prune -f || true
